.customer-reviews {
    overflow: hidden;
}

.customer-reviews__container {
    padding: 20px 0px;
}

.customer-reviews__row {
    position: relative;
}

.customer-reviews__title {
    text-align: center;
}

.customer-reviews__row {
    align-items: center;
}

.customers-reviews__card {
    background-color: var(--lightGreen) !important;
    border: none !important;
    max-width: 750px;
    margin: 20px 0;
}

.customer-reviews__employer {
    color: var(--darkGreen) !important;
    margin: 10px 0 !important;
}

.customers-reviews__image-wrapper {
    display: flex !important;
    justify-content: center !important;
}

.customer-reviews__role {
    color: var(--green) !important;
}





/*! ORBIT */
.solar-system {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    right: -65%;
}

.solar-system__sun {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.solar-system__orbit {
    position: absolute;
    border: 1px dashed black;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solar-system__icon {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.solar-system__orbit--wifi {
    width: 120px;
    height: 120px;
    animation-duration: 3s;
}

.solar-system__icon--wifi {
    top: -10px;
}

.solar-system__orbit--internet {
    width: 180px;
    height: 180px;
    animation-duration: 6s;
}

.solar-system__icon--internet {
    top: -10px;
}

.solar-system__orbit--laptop {
    width: 240px;
    height: 240px;
    animation-duration: 10s;
}

.solar-system__icon--laptop {
    top: -12px;
}

.solar-system__orbit--user {
    width: 320px;
    height: 320px;
    animation-duration: 15s;
}

.solar-system__icon--user {
    top: -15px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media(max-width: 992px) {
    .solar-system {
        display: none;
    }
}